.btn {
    color: $white;
    line-height: 30px;
    height: 32px;
    width: 72px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        filter: invert(.2);
    }

    &--attention {
        background-color: $bgc-attention;
    }

    &--warning {
        background-color: $bgc-warning;
    }

    &--pad-right {
        margin-right: 7px;
    }
    &_secondary {
        width: 225px;
        height: 63px;
        line-height: 63px;
        border: none;
        background-color: #fff;
        font-size: $fs-18;
        color: $fnt-dark;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
        &:focus {
            box-shadow: inset 0 0 3px gray;
        }
    }
}
