body {
    font-family: $ff-roboto-reg;
    font-size: $fs-14;
    line-height: 1;
    color: $fnt-dark;
}
     
.container {
    max-width: $container-width;
    margin: 0 auto;
}
.section-default {
    padding: $section-space;
}
    

.title {
    font-size: $fs-subtitle;
    color: $fnt-dark;
    font-family: $ff-roboto-bol;
    text-align: center;
    &--light {
        color: $fnt-light;
    }
    &--small {
        font-size: $fs-24;
    }
    &--extra-small {
        font-size: $fs-22;
        font-family: $ff-raleway-bol;
    }
}

.text {
    &--left {
        text-align-last: left;
    }
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
}

