$footer-font: #b7c3c8;
$item-width: 25%;
$title-before-height: 3px;
$title-before-width: 51px;
$social-link-size: 28px;
$license-border: 1px solid #424d53;
$email-border: 1px solid #393a3a;
$email-bg: #2f3c43;
$email-width: 260px;
$email-placeholder-font: #697378;
$email-focus: #111;
$submit-btn-size: 40px;


.footer {
    padding-top: 120px;
    background-color: $bgc-secondary;
    color: $footer-font;
    &-wrapper {
        @include flex (space-between, flex-start, nowrap);
        padding-bottom: 100px;
    }
    &-item {
        width: $item-width;

        &--pad-left {
            padding-left: 85px;
        }

        &__title {
            font-size: $fs-22;
            font-family: $ff-raleway-bol;
            color: $fnt-light;
            position: relative;

            &::before {
                content: "";
                height: $title-before-height;
                width: $title-before-width;
                background-color: $bgc-attention;
                position: absolute;
                bottom: -28px;
            }

        }

        &__text {
            font-size: $fs-15;
            line-height: 24px;
            padding: 63px 0 40px;
        }

        &__contact {
            color: $fnt-light;
            line-height: 24px;
            font-weight: 500;
            padding-left: 30px;
            position: relative;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &-icon {
                color: $fnt-attention;
                position: absolute;
                left: 0;
                top: calc(50% - 7px);
                
            }
        }

        &__list {
            padding-top: 65px;

            &-item {
                padding-bottom: 25px;

                &:last-child {
                    padding-bottom: 0;
                }
            }

            &-icon {
                color: $fnt-attention;
                display: inline-block;
                padding-right: 14px;
            }

            &-link {
                display: inline-block;
                transition: all .1s linear;
                &:hover {
                    color: $fnt-attention;
                    transform: scale(1.2);
                }
            }
        }

        &__newsletter-title {
            font-size: $fs-22;
            font-family: $ff-raleway-bol;
            color: $fnt-light;
            padding-top: 40px;
        }

        &__social {

            &-sprite {
                display: flex;
                padding-top: 65px;
            }

            &-item {
                padding-right: 7px;

                &:last-child {
                    padding-right: 0;
                }
            }

            &-link {
                width: $social-link-size;
                height: $social-link-size;
                display: inline-block;
                background-image: url(../img/social-icons.jpg);
                background-repeat: no-repeat;
                background-position-y: top;
                transition: all .3s ease-out;

                &--facebook {
                    background-position-x: 0;
                }

                &--twitter {
                    background-position-x: -28px;
                }

                &--youtube {
                    background-position-x: -56px;
                }

                &--pinterest {
                    background-position-x: -84px;
                }

                &--linkedin {
                    background-position-x: -112px;
                }

                &:hover {
                    background-position-y: bottom;
                }
            }
        }
    }
    &__license {
        padding: 27px 0 35px;
        border-top: $license-border;
        
        &-text {
            color: $footer-font;
            font-size: $fs-15;
            text-align: center;
        }
    }    
}

.newsletter {
    padding-top: 20px;
    position: relative;

    &__email {
        color: inherit;
        width: $email-width;
        line-height: 38px;
        padding-left: 15px;
        background-color: $email-bg;
        border: $email-border;
        outline: none;

        &::placeholder {
            color: $email-placeholder-font;
        }

        &:focus {
            border-color: $email-focus;
        }
    }

    &__submit {
        color: $fnt-light;
        width: $submit-btn-size;
        height: $submit-btn-size;
        background-color: $bgc-attention;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
}