.header-white-wrapper {
    background-color: $bgc-body;
}

.header-dark-wrapper {
    background-color: $bgc-secondary;
}

.top-wrapper, .navigation__list, .navigation, .info {
    display: flex;
    align-items: center;
}

.top-wrapper {
    justify-content: space-between;
}

.top-wrapper {
    height: 90px;
}

.info__help {
    color: $fnt-warning;
    padding-right: 4px;
}

.info__number {
    color: $fnt-grey;
    padding-right: 50px;
}

.info__cart {
    color: #a0a0a0;
    height: 35px;
    width: 35px;
    background-color: $bgc-primary;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 25px;
    position: relative;
    &:hover {
        transform: scale(1.03);
        filter: invert(.2);
    }
}

.cart__counter {
    color: $bgc-body;
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: $bgc-warning;
    position: absolute;
    right: -5px;
    top: -5px;
}

.info__number, .info__help {
    font-size: $fs-15;
}

.navigation {
    height: 60px;
}

.navigation__item {
    color: $fnt-light;
    font-size: $fs-14;
    padding-right: 38px;
    &:last-child {
        padding-right: 0;
    }
    &:hover {
        color: $fnt-attention;
    }
}