$offer-wraper-width: 1105px;
$offer-wrapper-bg: #b5b5b5;


.offer {
    background-color: $bgc-primary;
    padding: 130px 0;

    &__wrapper {
        background-color: $offer-wrapper-bg;
        padding: 110px 220px;
        max-width: $offer-wraper-width;
        margin: 0 auto;
    }

    &__card {
        @include flex;
        background-color: $bgc-attention;
        padding: 80px 60px;
    }
    
    &__holder {
        @include flex;
        width: 50%;
    }

    &__text {
        font-size: $fs-30;
        line-height: 36px;
        color: $fnt-light;
        text-align: center;
    }
    
}