$tutorials-item-width: 33.3%;
$tutorials-item-card-height: 370px;
$tutorials-card-photo-height: 270px;
$tutorials-card-photo-bg: #d4d4d4;


.tutorials {
    padding: $section-space;

    &__wrapper {
        @include flex;
        padding-top: 64px;
    }

    &__item {
        width: $tutorials-item-width;
        padding: $col-space;
        
        &-card {
            background-color: $bgc-primary;
            overflow: hidden;
            height: $tutorials-item-card-height;
            transition: all .2s linear;

            &:hover {
                box-shadow: 0 0 6px $bgc-secondary;
                transform: scale(1.02);
            }
        }
    }

    &__card-photo {
        height: $tutorials-card-photo-height;
        background-color: $tutorials-card-photo-bg;
        margin-bottom: 40px;
    }
    
    &__card-title {
        text-align: center;
    }
}