// colors
$white: #fff;
$lightgrey: #f4f6f5;
$red: #e74c3c;
$dark:  #263238;
$green:  #8bc34a;
$gold: #ffa726;
$grey: #546e7a;



// bg-colors
$bgc-body: $white;
$bgc-primary: $lightgrey;
$bgc-secondary: $dark;
$bgc-attention: $green;
$bgc-warning: $red;
$bgc-stars: $gold;

// fonts color 

$fnt-dark: #263238;
$fnt-light: $white;
$fnt-warning: $red;
$fnt-grey: $grey;
$fnt-attention: $green;

// font size 

$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-30: 30px;
$fs-36: 36px;
$fs-48: 48px;

$fs-title: $fs-48;
$fs-subtitle: $fs-36;

// fonts

$ff-roboto-reg: "robotoregular";
$ff-roboto-lig: "roboto_lightregular";
$ff-roboto-bol: "robotobold";
$ff-raleway-reg: "ralewayregular";
$ff-raleway-lig: "raleway_lightregular";
$ff-raleway-bol: "ralewaybold";

// paddings
$section-space: 120px 0;
$col-space: 0 15px;

$container-width: 1200px;