
$why-choose-us-photo: 115px;

.why-choose-us {
    background-color: $bgc-secondary;
    padding: 125px 120px;
}

.advantages {

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        width: 33.3%;
        text-align: center;
        padding: 85px 22px 0;
    
        &:hover {
            .advantages-item__photo::before {
                opacity: 0;
            }
            .advantages-item__title {
                color: $fnt-attention;
            }
        }
        &__photo {
            overflow: hidden;
            width: $why-choose-us-photo;
            height: $why-choose-us-photo;
            border-radius: 50%;
            margin: 0 auto 25px;
            background-color: #fff;
            position: relative;
    
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                background-color: #111;
                opacity: .3;
                transition: all 0.3s linear;
            }
        }
        &__title {
            font-size: $fs-24;
            color: $fnt-light;
            padding-bottom: 25px;
            transition: all 0.3s linear;
        }
        &__text {
            color: #b0bec5;
            font-family: $ff-roboto-reg;
            font-size: $fs-15;
            line-height: 24px;
        }
    }
}

